html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f2f2f2;
}

header {
  text-align: center;
  font-family: Open Sans, sans-serif;
  color: #333;
}

h1 {
  font-size: 2rem;
  margin-top: .77em;
  margin-bottom: .9em;
}

img {
  display: block;
  width: 100%;
  max-width: 100px;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
  margin: auto;
  padding-top: .75em;
  padding-bottom: 1.5em;
}

div {
  display: inline-block;
}

h2 {
  font-size: .875rem;
  font-weight: bold;
  margin-left: .75em;
  margin-top: 1.5em;
  margin-bottom: .3em;
}

h3 {
  font-style: italic;
  font-size: .875rem;
  margin-left: .75em;
  margin-top: 0;
  margin-bottom: .3em;
}

p {
  font-size: 1rem;
  margin-left: .75em;
  margin-right: 1.5rem;
  margin-top: 0;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

.book {
  display: inline-block;
  float: left;
  width: 25%;

}

.btn {
  display: inline-block;
  padding: .4em .75em .3em;
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  border: 3px solid #333;
  font-size: 1.125rem;
  text-decoration: none;
  margin-left: .75em;
}

.one {
  background-color: #e2e2e2;
  border
}

.two {
  background-color: #ccc;
}

.three {
  background-color: #aaa;
}

.four {
  background-color: #999;
}
